@use "variables" as *;
@use "header";
@use "anime-pages";

.layout {
	@apply max-w-screen-sm relative;
	background-color: $color-bg;
	color: $color-text;
	overflow-y: scroll;
	max-height: 640px;
}

.main {
	@apply p-4;
}

.language-toggle {
  	@apply w-11 h-11 font-semibold rounded-full drop-shadow object-contain transition-all duration-200;
  	background-color: $color-accent;
  	color: $color-bg;
  	border: 3px solid transparent;
	z-index: 1;

  	&:hover {
    	background-color: $color-accent-hover;
		color: $color-accent;
		border-color: $color-accent;
  	}
  }

.loading_spinner {
  @apply flex items-center justify-center;

  &:before {
	@apply rounded-full w-16 h-16 mt-12;
    content: "";
    border: 4px solid $color-bg;
    border-top: 4px solid $color-accent;
    animation: spin 1s infinite;
  }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}